body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #303c4de3;
  color: white; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-family: cursive;
  text-decoration: none;
  color: white;
  /* color: black; */
}

.link:hover {
  color: rgb(253, 210, 18);
}

.dropdown-items {
  display: flex;
}

.dropdown-items:hover {
  background-color: #50a18d;
  color: white;
}

/* header */
.header_right {
  display: flex;
  justify-content: space-between;
}

/*leaderboard */
.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: black;
  border-radius: 10px;
}

.leaderboard_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.leaderboard_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard_card {
  background-color: #f2f2f2;
}

.leaderboard_card:hover {
  background-color: #50a18d;
  color: white;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #000000;
}

.email {
  font-family: cursive;
  color: white;
}
.email:hover{
  color: #00e5b1;
}
.my-content {
  height: 80vh;
  overflow: auto;
}

/* background colors */
.bg-button {
  background-color: #50a18d;
}
.bg-red {
  background-color: red;
}
.bg-header {
  background-color: #3b6974;
}
.bg-faint-black {
  background: #303c4de3;
}

.bg-x {
  background-color: #3b6974;
}

/* text colors */
.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-auth {
  color: #3b6974;
}

.card_image {
  border: 3px solid black;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}

.button-group {
  display: flex;
  flex-direction: column;
}

.custom_card {
  margin-bottom: 15px;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  color: black;
}

.custom_card:hover {
  background-color: #f8f8f8;
}

/* .target-img {
  height: 300px;
  width: 400px;
} */

/*Editor */
.editor {
  height: 85vh;
  overflow: auto;
  background-color: hsl(225, 6%, 25%);
  border-radius: 5px;
}

.output {
  height: 85vh;
  overflow: auto;
  border: 1px solid black;
  border-radius: 5px;
}
.output-window {
  display: flex;
  height: 53%;
  justify-content: center;
  align-items: center;
}
.editor-heading {
  display: flex;
  justify-content: center;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  color: white;
}

.editor-footer {
  display: flex;
  justify-content: center;
  color: white;
}

.code-area {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
}

.code-area textarea {
  resize: none;
  outline: none;
  font-size: 18px;
  background: #000;
  padding: 10px;
  height: 100%;
}

.code-area #htmlCode {
  color: yellow;
}

.code-area #cssCode {
  color: cyan;
}

.preview-area iframe {
  height: 100%;
  width: 90%;
}

.preview-area img {
  height: 100%;
  width: 90%;
}

.target-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.target-color {
  display: inline-flex;
  height: 25px;
  width: 50%;
  border: 2px solid black;
}

.target-window {
  display: flex;
  height: 53%;
  justify-content: center;
  align-items: center;
}

.score-window {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
}

.colors {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  font-weight: bolder;
}

._modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.friendly_modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal_body {
  display: flex;
  flex-direction: column;
}

/* Authentication css */
.myContainer {
  max-width: 1100px;
  position: relative;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.auth-container {
  display: flex;
  justify-content: center;
}

.myLarge {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.myLead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.myForm .myForm-group {
  margin: 1.2rem 0;
}

.myForm .myForm-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.myForm input[type="text"],
.myForm input[type="email"],
.myForm input[type="password"],
.myForm input[type="date"],
.myForm select,
.myForm textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.myForm input[type="submit"],
button {
  font: inherit;
}

.btn-user {
  background-color: #50a18d;
  color: white;
}

.user-menu {
  /* display: flex; */
  justify-content: center;
  width: 100%;
}

.target-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.toggle-div {
  display: flex;
}

/* Mobile Styles */
@media (max-width: 992px) {
  .header_right {
    flex-direction: column;
  }
  .mt-sm {
    margin-top: 10px;
  }
  .hide-sm {
    display: none;
  }
  .output{
    margin-top: 5px;
  }
}

@media (max-width: 850px) {
  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: medium;
  }

  .toggle-div {
    flex-direction: column;
  }
  .toggle-button {
    border-radius: 0%;
  }
  .landing-middle{
    flex-direction: column;
  }

  .landing-card{
    width: 90%;
    margin-top: 5px;
  }
  
}
@media (max-width: 700px) {
  .myContainer {
    margin-top: 8rem;
  }
}

@media (max-width: 550px) {
  .display-none-for-mobile {
    display: none;
  }

  .myContainer {
    padding: 0 0.5rem;
  }
}

@media (max-width: 1500px) {
  .output-window {
    margin-left: 0;
  }
}

/* MyProfile */

.text-name {
  margin-top: 20px;
  margin-bottom: 2rem;
  align-items: center;
}

.location {
  margin-bottom: 2rem;
}

.setlength {
  height: 60%;
  width: 60%;
  margin-left: 10%;
  margin-top: 5%;
  background-color: #f2f2f2;
}

.round-card {
  margin-left: 2px;
  margin-right: 5px;
  padding: 6px 20px;
}

.setmargin {
  padding: 15px;
  border: 1px solid;
}

.imgheight {
  height: 100%;
}

.outsideborder {
  border: 1px solid;
}

.innercard1 {
  width: 80%;
  margin-top: 15%;
  margin-left: 5%;
}

.font_size {
  font-size: xx-large;
}

.targetmargin {
  margin-left: 30px;
  font-size: large;
}

.outputmargin {
  padding-left: 60px;
}

.formmargin {
  margin: 10%;
}

/* MY Battles */

.battle_card {
  height: 60%;
  width: 30%;
  margin: 5% 30%;
  padding: 30px;
  background-color: #f2f2f2;
}

.performance_card {
  margin-bottom: 20px;
}

.target_card {
  height: 20%;
}

.card_logo {
  height: 100%;
  width: 30%;
}

.category_card {
  height: 15%;
  width: 72%;
}

.margin_down {
  margin-bottom: 10%;
}

.padding_card {
  padding-left: 10px;
}

/* slider */
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 400px;
  height: 300px;
  /* border-radius: 10px;  */
}

.right-arrow {
  position: absolute;
  /* top: 50%; */
  right: 1em;
  font-size: 5rem;
  color: #00695c;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  /* top: 50%; */
  left: 1em;
  font-size: 5rem;
  color: #00695c;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.battle {
  opacity: 0;
  transition-duration: 1s ease;
}

.battle.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.landing-top {
  color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to bottom, #0b132b, #00e5b1);
  /* background-image: radial-gradient(circle, #0b132b, #00e5b1); */
  height: 50vh;
}

h1.name{
  font-size: 2.4rem;
}

h1.x-large {
  font-size: 2.7rem;
  font-family: serif;
  color: transparent;
  text-align: center;
  word-spacing: 3px;
  animation: effect 2s linear infinite;
}

@keyframes effect {
  0% {
    background: linear-gradient(#fff, #00ff00);
    -webkit-background-clip: text;
  }

  100% {
    background: linear-gradient(#fff, rgb(255, 238, 0));
    -webkit-background-clip: text;
  }
}
.lead {
  font-size: 1.5rem;
}
.landing-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.card-bg-button {
  background-color: #00695c;
}

.black {
  background-color: #000;
  font-size: 20px;
}

.landing-card-image {
  display: flex;
  /* background-color: #3b6974; */
  height: 150px;
}

.btn-logout {
  color: white;
  background: transparent;
  font-size: 1.35rem;
  border: none;
  padding: 0;
  margin: 0;
}

li.list-item{
  padding: 0 0 0 -50;
}

.logout{
  background-color: rgba(48,48, 48, 0.85);
  border: none;
  color: #00e5b1;
}

.btn-logout:hover {
  color: #00e5b1;
}
.about-parent {
  max-width: 1100px;
  position: relative;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.about {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}

.large {
  font-size: 2rem;
}

.leaderboard-table {
  max-width: 1100px;
  position: relative;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 3rem;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-outline-custom {
  color: #00695c;
  background-color: transparent;
  background-image: none;
  border-color: #00695c;
}

.btn-outline-custom:hover {
  color: #fff;
  background-color: #00695c;
  border-color: #00695c;
}

.btn-outline-custom:focus,
.btn-outline-custom.focus {
  box-shadow: 0 0 0 0.2rem #00695c;
}

.btn-outline-custom.disabled,
.btn-outline-custom:disabled {
  color: #00695c;
  background-color: transparent;
}

.btn-outline-custom:not(:disabled):not(.disabled):active,
.btn-outline-custom:not(:disabled):not(.disabled).active,
.show > .btn-outline-custom.dropdown-toggle {
  color: #fff;
  background-color: #00695c;
  border-color: #00695c;
}

.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #00695c;
}

.table-spinner {
  display: flex;
  width: 100%;
  background-color: #00695c;
}

.hide-scroll {
  overflow: scroll;
}

.hide-scroll::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
  width: 0px;
}
.margin-top {
  margin-top: 3.5rem;
}
.text-auth {
  color: #00695c;
}
